<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Buben&Zorweg</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    @@include("../blocks/modules/intro-block/intro-block.html")
    <main>
      @@include("../blocks/modules/formula/formula.html")
      @@include("../blocks/modules/unexpected-art/unexpected-art.html")
      @@include("../blocks/modules/contacts/contacts.html")
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
  </body>
</html>
